- images.each do |image|
  .image-thread-item
    .preview
      %button.btn.btn-danger.delete{title: 'Delete'}
        %span ×
      = image_tag(image.source.thumb('120x120'))
    .error
    %input{name: input_name, type: 'hidden', value: [image.id, ':', image.state].join}