- images.each do |image|
  .image-thread-item
    .preview
      %button.btn.btn-default.restore
        %span.glyphicon.glyphicon-repeat
          = 'Restore'
      %button.btn.btn-danger.delete{title: 'Delete'}
        %span ×
      = image_tag(image.source.thumb('190x150'))
    .error
    %input{name: input_name, type: 'hidden', class: 'value', value: [image.id, ':', image.state].join}
    .input-group.default-image
      %label.radio
        %input{name: "#{input_name}", type: 'radio', value: [image.id, 'default'].join(':'), checked: image.id == image.thread.default_image_id ? true : false }
        = 'Main image'